[submodule "languages/go"]
	path = languages/go
	url = https://github.com/24namanjain/go.git
[submodule "languages/java"]
	path = languages/java
	url = https://github.com/24namanjain/java.git
[submodule "cloud/aws"]
	path = cloud/aws
	url = https://github.com/24namanjain/aws.git
[submodule "cloud/goK8sBible"]
	path = cloud/goK8sBible
	url = https://github.com/24namanjain/goK8sBible.git
[submodule "DataLabs"]
	path = DataLabs
	url = https://github.com/24namanjain/DataLabs.git
