site_name: "Odyssey"
theme:
  name: "material"
  features:
    - navigation.tabs
    - navigation.sections
    - search.highlight
plugins:
  - search
  - tags:
      tags_file: tags.md
nav:
  - Home: index.md
  - Tags: tags.md
  - Personal:
    - Important Links: _personal/links.md
    - TODO: _personal/todo.md
  - Docker: Docker/index.md
  - Kubernetes: Kubernetes/index.md
  - System Design: SystemDesign/index.md
